
<main>
  <!--Top section of the page consists of navbar and headings.-->
  <header>
    <nav class="topnav" id="myTopnav">
      <a href="index.html" class="active">Transaction Chart</a>
      <a href="index.html">Transaction Heatmap</a>
    </nav>

    <!--Section to house the main headings.-->
    <section class="heading">
      <h1>Bitcoin Transaction Chart</h1>
      <p>Explore</p>
    </section>
  </header>

  <!--Main section of the webpage, uses bootstrap classes for layout and formatting except for 'title-card' element.-->
  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <div id="time">

            <script type="text/javascript">
              function checkTime(i) {
                if (i < 10) {
                  i = "0" + i;
                }
                return i;
              }

              function startTime() {
                var today = new Date();
                var h = today.getHours();
                var m = today.getMinutes();
                var s = today.getSeconds();
                // add a zero in front of numbers<10
                m = checkTime(m);
                s = checkTime(s);
                document.getElementById('time').innerHTML = h + ":" + m + ":" + s;
                t = setTimeout(function() {
                  startTime()
                }, 500);
              }
              startTime();
            </script>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="chart-wrap vertical">
          <div class="grid" *ngFor="let block of apiService.blocks">
            <div class="bar" *ngFor="let transaction of block.tx" [style.width.%]="transaction.size * 100 / block.maxValue" title="{{transaction.size}}"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<!--Section for the bottom of the webpage. Normal footer only shows links.-->
<footer>
  <div class="normal-footer">
    <ul>
      <p><u>Other pages</u></p>
      <li><a href="index.html">Link 1</a></li>
      <li><a href="index.html">Link 2</a></li>
      <li><a href="index.html">Link 3</a></li>
    </ul>
  </div>
</footer>
